
<label><b>Animal Farm:<b></label>
<button ng-click="createNapoleon()">Napoleon</button>
<button ng-click="createSnowball()">Snowball</button>
<button ng-click="createBenjamin()">Benjamin</button>
<button ng-click="createBoxer()">Boxer</button>
<button ng-click="createSquealer()">Squealer</button>
<button ng-click="createJones()">Mr. Jones</button>
<button ng-click="createDogs()">The 9 Dogs</button>
<br>


<label>Collage Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><Input type="text" ng-model="CollageTitle"></Input>
<br>
Characteristic 1: <Input type="text" ng-model="Keyword1"></Input>
<br>
Characteristic 2: <Input type="text" ng-model="Keyword2"></Input>
<br>
Characteristic 3: <Input type="text" ng-model="Keyword3"></Input>
<br>
Characteristic 4: <Input type="text" ng-model="Keyword4"></Input>
<br>
Characteristic 5: <Input type="text" ng-model="Keyword5"></Input>
<br>
Characteristic 6: <Input type="text" ng-model="Keyword6"></Input>
<Button ng-click="CreateMural()">Create</Button> <br>
<h1 ng-show="HeaderVisible">{{CollageTitle}}</h1>
<br>
<img ng-src="{{imgSrc[0]}}">
<br>
<img ng-src="{{imgSrc[1]}}">
<br>
<img ng-src="{{imgSrc[2]}}">
<br>
<img ng-src="{{imgSrc[3]}}">
<br>
<img ng-src="{{imgSrc[4]}}">
<br>
<img ng-src="{{imgSrc[5]}}">
