<label>Collage Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><Input type="text" ng-model="CollageTitle"></Input>
<br>
Characteristic 1: <Input type="text" ng-model="Keyword1"></Input>
<br>
Characteristic 2: <Input type="text" ng-model="Keyword2"></Input>
<br>
Characteristic 3: <Input type="text" ng-model="Keyword3"></Input>
<br>
Characteristic 4: <Input type="text" ng-model="Keyword4"></Input>
<br>
Characteristic 5: <Input type="text" ng-model="Keyword5"></Input>
<br>
Characteristic 6: <Input type="text" ng-model="Keyword6"></Input>
<Button ng-click="CreateMural()">Create</Button>
<img ng-src="{{imgSrc[0]}}">
<img ng-src="{{imgSrc[1]}}">
<img ng-src="{{imgSrc[2]}}">
<img ng-src="{{imgSrc[3]}}">
<img ng-src="{{imgSrc[4]}}">
<img ng-src="{{imgSrc[5]}}">