<Input type="text" ng-model="Keyword1"></Input>
<Input type="text" ng-model="Keyword2"></Input>
<Input type="text" ng-model="Keyword3"></Input>
<Input type="text" ng-model="Keyword4"></Input>
<Input type="text" ng-model="Keyword5"></Input>
<Input type="text" ng-model="Keyword6"></Input>
<Button ng-click="CreateMural()">Create</Button>
<img ng-src="{{imgSrc[0]}}">
<img ng-src="{{imgSrc[1]}}">
<img ng-src="{{imgSrc[2]}}">
<img ng-src="{{imgSrc[3]}}">
<img ng-src="{{imgSrc[4]}}">
<img ng-src="{{imgSrc[5]}}">
